/* FONTS*/
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.eot');
    src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Regular.eot');
    src: url('../fonts/Open_Sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/Open_Sans/OpenSans-Regular.woff') format('woff'),
    url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype'),
    url('../fonts/Open_Sans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* GENERAL styles */
body {
    height: 100%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;
    color: #f7f7f7;
}

/* GENERAL WIDTH AND CENTRING styles for visible part of website */
.title-block, section, footer {
    width: 90rem;
    margin: 0 auto;
}

/* invisible h1 tag for seo purposes*/
h1 { opacity: 0; }

/* HOVER and ACTIVE effects styles */
nav li:hover,
nav li:active,
#nav-sign-in:hover,
#nav-sign-in:active,
.title-block button:hover,
.submit:hover,
.title-block button:active,
.submit:active,
.toggle:hover,
.toggle:active,
.articles-preview-slider div:hover,
.articles-preview-slider div:active,
.footer-navigation li:hover,
.footer-navigation li:active,
.social-media-links li:hover,
.social-media-links:active {
    cursor: pointer;
    outline: none;
}

nav li:hover,
.footer-navigation li:hover { color: #cd6326; }

nav li:active,
.footer-navigation li:active { color: #8f5614; }

#nav-sign-in:hover {
    color: #ffffff;
    background-color: #cd6326;
}

#nav-sign-in:active {
    color: #ffffff;
    border: 0.125rem solid #8f5614;
}

#magnifier:hover svg path,
.toggle:hover svg path { fill: #cd6326; }

#magnifier:active svg path,
.toggle:active svg path { fill: #8f5614; }

.title-block button:hover,
.submit:hover { background-color: #e29128; }

.title-block button:active,
.submit:active,
nav li:last-of-type:active { background-color: #8f5614; }

.articles-preview-slider div:nth-of-type(2):hover,
.articles-preview-slider div:nth-of-type(3):hover,
.articles-preview-slider div:nth-of-type(4):hover { box-shadow: .2rem .2rem 1.5rem #333333; }

.articles-preview-slider div:nth-of-type(2):active,
.articles-preview-slider div:nth-of-type(3):active,
.articles-preview-slider div:nth-of-type(4):active { box-shadow: .2rem .2rem 1.5rem #000000; }

.social-media-links li:first-of-type:hover {
    background-image: url('../images/facebook-hovered.svg');
}

.social-media-links li:first-of-type:active {
    background-image: url('../images/facebook-active.svg');
}

.social-media-links li:nth-of-type(2):hover {
    background-image: url('../images/instagram-hovered.svg');
}

.social-media-links li:nth-of-type(2):active {
    background-image: url('../images/instagram-active.svg');
}

.social-media-links li:nth-of-type(3):hover {
    background-image: url('../images/pinterest-hovered.svg');
}

.social-media-links li:nth-of-type(3):active {
    background-image: url('../images/pinterest-active.svg');
}

.social-media-links li:last-of-type:hover {
    background-image: url('../images/youtube-hovered.svg');
}

.social-media-links li:last-of-type:active {
    background-image: url('../images/youtube-active.svg');
}

/* HEADER animation when scrolling */
.scrolled-header {
    background-blend-mode: color;
    mix-blend-mode: difference;
}
.scrolled-header-svg { fill: #333333; }

.scrolled-header-text { color: #333333; }

/* HEADER + TITLE BLOCK styles */
.title-blocks-wrapper {
    background-color: #02160b;
    height: 48.62rem;
}

header {
    position: fixed;
    top: 0;
    left: 50%; /* position left 50% as well as negative margin-left with value of 0.5 of block's width (-37.5rem) are for center position of header */
    z-index: 1;
    margin-left: -37.5rem;
    width: 75rem;
    height: 6rem;
}

header .logo-wrapper {
    position: absolute;
    left: 0;
    width: 14.9rem;
    height: 100%;
}

.logo-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
}

.logo-wrapper p {
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
}

nav {
    position: absolute;
    top: 1.5rem;
    right: 0;
    width: 40rem;
}

nav ul { width: 100%; }

nav ul li {
    position: absolute;
    display: inline-block;
    width: 8.75rem;
    height: 3.75rem;
    font-size: 1.438rem;
    line-height: 3rem;
}

nav ul li:nth-of-type(1) { right: 24.155rem; }

nav ul li:nth-of-type(2) { right: 15.8rem; }

#magnifier {
    top: .5rem;
    right: 8rem;
}

.magnifier-hovered {
    fill: #cd6326;
    animation: magnifier-hover .3s linear;
}

@keyframes magnifier-hover {
    from {
        fill: #ffffff;
    }
    to {
        fill: #cd6326;
    }
}

nav ul li:last-of-type {
    right: 0;
    width: 7.3rem;
    height: 3rem;
}

#nav-sign-in {
    width: 7.3rem;
    height: 3rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.438rem;
    color: #f7f7f7;
    line-height: 1.5;
    border: 0.125rem solid #cd6326;
    border-radius: 0.313rem;
}

.title-block {
    display: block;
    height: 100%;
    margin: 0 auto;
    background: url('../images/fox-background.jpg') center no-repeat;
}

.title-block h2,
.title-block button { margin-left: 7.5rem; }

.title-block h2 {
    position: absolute;
    top: 12.6rem;
    font-size: 3rem;
    color: #cd6326;
    letter-spacing: .125rem;
}

.title-block p {
    position: absolute;
    top: 20.05rem;
    width: 17.125rem;
    margin-left: 7.4rem;
    font-size: 1.125rem;
    line-height: 1.688rem;
}

.title-block button {
    position: absolute;
    top: 29.9rem;
    display: block;
    width: 10rem;
    height: 3.75rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.375rem;
    line-height: 1.688rem;
    color: #ffffff;
    background-color: #cd6326;
    border-radius: .313rem;
}

/* ARTICLES and EMAIL SUBSCRIPTION styles */
.content-blocks-wrapper {
    height: 85.5rem;
    background-color: #cccccc;
}

section h2 {
    font-size: 3rem;
    padding-top: 7.78rem;
    color: #333333;
}

section h4 {
    font-size: 1.5rem;
    line-height: 3.3;
    color: #666666;
}

.articles-preview-slider {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 75rem;
    height: 35rem;
    margin: 0 auto;
}

.articles-preview-slider div  {
    width: 18.75rem;
    height: 22.5rem;
}

.toggle {
    margin-top: 20.31rem;
    width: 1.875rem !important;
}

.articles-preview-slider div h5  {
    font-size: 1.375rem;
    padding-top: 83.5%;
}

.articles-preview-slider div p  {
    line-height: 3rem;
    letter-spacing: .03rem;
}

.articles-preview-slider div:nth-of-type(2) { background: url('../images/deer-article.jpg') center no-repeat; }

.articles-preview-slider div:nth-of-type(3) { background: url('../images/squirrel-article.jpg') center no-repeat; }

.articles-preview-slider div:nth-of-type(4) { background: url('../images/bird-article.jpg') center no-repeat; }

.slide-inactive { display: none; }

.email-subscription h3 {
    padding-top: 8.8rem;
    padding-bottom: 3.8rem;
    font-size: 1.688rem;
    color: #333333;
}

.email-inputs-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.email-inputs-wrapper input:first-of-type {
    width: 33.813rem;
    height: 3.824rem;
    font-size: 1.438rem;
    padding-top: .4rem;
    padding-left: .8rem;
    color: #666666;
}

.submit {
    width: 7.5rem;
    height: 3.824rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.438rem;
    color: #f7f7f7;
    background-color: #cd6326;
    border: none;
    border-radius: 0 .313rem .313rem 0;

}

/* FOOTER styles */
.footer-wrapper {
    width: 100%;
    height: 22.5rem;
    background-color: #181617;
    justify-content: space-between;
}

footer {
    position: relative;
    height: 100%;
    background: url('../images/footer-background.jpg') center no-repeat;
}

footer,
.footer-navigation,
.social-media-links {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.footer-navigation,
.social-media-links {
    height: 3.75rem;
    justify-content: space-between;
}

footer .logo-wrapper {
    width: 14.9rem;
    margin-left: 7.5rem;
}

.footer-navigation {
    position: absolute;
    left: 30rem;
    width: 29.7rem;
}

.footer-navigation li { font-size: 1.438rem; }

.social-media-links {
    position: absolute;
    right: 7.5rem;
    width: 15rem;
}

.social-media-links li {
    width: 2.5rem;
    height: 2.5rem;
}

.social-media-links li:first-of-type {
    background: url('../images/facebook.svg') center no-repeat;
}

.social-media-links li:nth-of-type(2) {
    background: url('../images/instagram.svg') center no-repeat;
}

.social-media-links li:nth-of-type(3) {
    background: url('../images/pinterest.svg') center no-repeat;
}

.social-media-links li:last-of-type {
    background: url('../images/youtube.svg') center no-repeat;
}
